$border-color:#747271;
$border-pink:#FFC3C6;
$border-green:#049CD6;

$gray1:#6D6D6D;
$gray2:#B0B0B0;
$gray3:#F0F3F4;
$gray4:#C4C4C4;

$gray5:#6D676B;
$gray6:#D2D2D2;
$gray7:#DFDFDF;
$white:#fff;
$near-white:#F8F8F8;
$box-shadow1:rgba(0, 0, 0, 0.08);
$green1:#00AEEF;
$green2:#0A65BE;
$green3: #0A65BE;
$nearblack1:#242829;
$nearblack2:#393438;

$yellow1:#E6920C;
$brown1:#7B583A;
$red1:#E91F27;