.products {
    padding: 81px 0px 82px 0px;

    .products-slider {
        padding: 60px 0px 0px 0px;
        position: relative;

        .products-details {
            h3 {
                font-size: $lg;
                font-weight: $xl;
            }

            p {
                margin-top: 24px;
                font-size: $small;
                font-weight: $base;
            }

            .pick-color {
                background: $gray3;
                border-radius: 10px;
                margin: 34px 0px 44px 0px;
                padding: 10px;
                display: inline-block;


                .item {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 0px;
                    border: 2px solid $white;
                    display: inline-block;
                    cursor: pointer;
                    position: relative;

                    &:not(:last-child) {
                        margin-right: 18px;
                    }

                    &:hover {
                        &::before {
                            content: "";
                            position: absolute;
                            top: -3px;
                            left: -3px;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            border: 2px solid $border-green;

                        }
                    }

                    &:nth-child(1) {
                        background: $gray4;

                        &::before {
                            content: "";
                            position: absolute;
                            top: -3px;
                            left: -3px;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            border: 2px solid $border-green;

                        }

                    }

                    &:nth-child(2) {
                        background: $yellow1;
                    }

                    &:nth-child(3) {
                        background: $nearblack2;
                    }

                    &:nth-child(4) {
                        background: $gray5;
                    }

                    &:nth-child(5) {
                        background: $brown1;
                    }
                }
            }

            & .phone-wrap {
                margin-top: 8px;
                padding: 5px 10px;
                border-radius: 100px;
                border: 1px solid $border-pink;
                display: inline-flex;
                align-items: center;

                .phone-icon {
                    background: $red1;
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                a {
                    margin-left: 26px;
                    font-size: $near-md;
                    font-weight: $xl;
                }
            }
        }

        & .slider-wrap {
            padding: 20px;


            &-items {
                display: flex;
                flex-wrap: nowrap;

                img {

                    width: 604px;
                    height: 314px;
                    object-fit: cover;
                }
            }



        }

        .btn-control {
            position: absolute;
            left: 60%;
            bottom: 0px;

            @media screen and (max-width:769px) {
                bottom: -30px;
            }

            .btn-slide {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: $gray3;
                outline: none;
                border: none;
            }

            .next {
                margin-left: 12px;
            }

            .prev {
                margin-right: 12px;

                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
}